
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
// @import "variables";

// Bootstrap
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Foundation
@import "node_modules/foundation-sites/scss/foundation";

// Include Everything (True) for the Flex Grid :);
@include foundation-everything(true);

.mini-form {
	background: #eee;
	padding: 10px;
	margin-bottom: 5px;
	border-bottom: 2px solid #cb5f15;

	&__title {
		color: #cb5f15;
	}

	&__button {
		background: #cb5f15;
		&:hover {
			background: #a85004;
		} 
	}
}